<!-- <div class="grid-container">
    <mat-grid-list cols="3" rowHeight="150px" cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-grid-tile *ngFor="let card of cardList"
      [colspan]="card.cols" [rowspan]="card.rows" cdkDrag>
        <mat-card class="dashboard-card"  [style.background-color] ="card.color">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div> -->


  <!-- <div class="grid-container">
    <div class="dashboard" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="widget {{widget.widgetType}}" *ngFor="let widget of widgets" cdkDrag>
       <ng-container [ngSwitch]="widget.widgetType">

        <div   *ngSwitchCase="'projects'" [style.background-color] ="widget.color">
          
          <mat-card-header>
            <mat-card-title>
              {{widget.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
        </div>


        <div   *ngSwitchCase="'notifications'" [style.background-color] ="widget.color">
          <mat-card-content class="dashboard-card-content">
            <div>
              <img src="">
            </div>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title>
              {{widget.title}}
            </mat-card-title>
          </mat-card-header>
          
        </div>

        <div   *ngSwitchCase="'myconnection'" [style.background-color] ="widget.color">
          <mat-card-content class="dashboard-card-content">
            <div>
              <img src="">
            </div>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title>
              {{widget.title}}
            </mat-card-title>
          </mat-card-header>
          
        </div>
       
       </ng-container>
       
      </div>
    </div>
  
  </div> -->
  <div class="grid-container">
    <div class="dashboard" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="widget {{widget.widgetType}}" *ngFor="let widget of widgets" cdkDrag>
       <ng-container [ngSwitch]="widget.widgetType">

        <div   *ngSwitchCase="'workcard'" >
          
          <mat-card-header>
            <mat-card-title>
              {{widget.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content HereCard Content HereCard Content HereCard Content HereCard Content Here</div>
          </mat-card-content>
        </div>


        <div *ngSwitchCase="'notifications'" >
          <mat-card-content class="dashboard-card-content">
            <div>
              <img src="">
            </div>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title>
              {{widget.title}}
            </mat-card-title>
          </mat-card-header>
          
        </div>

        <div *ngSwitchCase="'myconnection'" >
          <mat-card-content class="dashboard-card-content">
            <div>
              <!-- <img src=""> -->
              <h2>hhks</h2>
              <h2>hhks</h2>

              <h2>hhks</h2> 
            </div>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title>
              {{widget.title}}
            </mat-card-title>
          </mat-card-header>
          
        </div>

        <div *ngSwitchCase="'sunny'" >
          <mat-card-content class="dashboard-card-content">
            <div>
              <!-- <img src=""> -->

              <h2>hhks</h2> 
            </div>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title>
              {{widget.title}}
            </mat-card-title>
          </mat-card-header>
          
        </div>
       
       </ng-container>
       
      </div>
    </div>
  
  </div>
